<!-- Menu -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bands' %}">Bands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members' %}">Members</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'contact' %}">Contact widget_tweaks</a>
          <a class="dropdown-item" href="{% url 'contact_as_p' %}">Contact as_p</a>
          <a class="dropdown-item" href="{% url 'contact_as_table' %}">Contact as_table</a>
          <a class="dropdown-item" href="{% url 'contact_bootstrap' %}">Contact Bootstrap</a>
          <a class="dropdown-item" href="{% url 'contact_crispy' %}">Contact Crispy</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'protected' %}">Protected</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'band_form' %}">Create band</a>
          <a class="dropdown-item" href="{% url 'band_create' %}">Band Create</a>
          <a class="dropdown-item" href="{% url 'member_form' %}">Create member</a>
        </div>
      </li>
    </ul>
  </div>
</nav>